<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<!-- Feed local para FashionPay.Core -->
		<add key="LocalPackages" value="C:\LocalNuGetPackages" />
		<!-- Feed oficial de NuGet -->
		<add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
	</packageSources>

	<packageSourceMapping>
		<!-- Mapear FashionPay.Core solo al feed local -->
		<packageSource key="LocalPackages">
			<package pattern="FashionPay.*" />
		</packageSource>
		<!-- Resto de paquetes al feed oficial -->
		<packageSource key="nuget.org">
			<package pattern="*" />
		</packageSource>
	</packageSourceMapping>
</configuration>